/quan_ly_tu_do_API/bin
/quan_ly_tu_do_API/obj
/.vs/ProjectEvaluation
/.vs/quan_ly_tu_do_API/FileContentIndex
/.vs/quan_ly_tu_do_API/copilot-chat
/.vs/quan_ly_tu_do_API/CopilotIndices
/.vs/quan_ly_tu_do_API/DesignTimeBuild
/.vs/quan_ly_tu_do_API/v17
