/.dart_tool
/.idea
.flutter-plugins-dependencies
*.properties
*.iml
/build/.cxx/debug/5df1q31q/armeabi-v7a/.cmake/api/v1/query
/build/.cxx/debug/5df1q31q/armeabi-v7a/.cmake/api/v1
/build/.cxx/debug/5df1q31q/armeabi-v7a
/build/.cxx/debug/5df1q31q/x86_64/CMakeFiles
/build/.cxx/debug/5df1q31q
/build/.cxx/release/5i1q6q43/armeabi-v7a/CMakeFiles
/build/.cxx/release/5i1q6q43
/build/app/intermediates/compressed_assets/release/compressReleaseAssets/out/assets/flutter_assets/packages
/build/app/intermediates/compressed_assets/release/compressReleaseAssets/out/assets/flutter_assets
/build/app/intermediates/cxx/debug/5df1q31q/logs
#*.txt
*.1
*.bat
*.bin
*.dex
*.otf
*.Z
*.jar
/build/app/intermediates
/build/app/kotlin/compileDebugKotlin
/build/app/kotlin
/build/geolocator_android/intermediates/incremental/release
/build/geolocator_android/intermediates/javac/debug
*.class
*.xml
*.png
#*.json
*.flat
*.at
*.len
*.tab
*.keystream
*.aar
*.tab_i
*.apk
*.kts
*.kt
*.dill
*.dm
*.sha1
*.zip
*.kotlin_module
*.MF
*.stamp
/build/geolocator_android/intermediates
*.html
/build/shared_preferences_android/intermediates/incremental
*.gz

